@import url('https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


.nav {
    background-color: #006e64;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Ruge Boogie', cursive;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 45px;
}

.logo img {
    height: 40px;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    color: aquamarine;
}


.navLink {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
    font-family: "Noto Sans Display", sans-serif;
    font-weight: bold;
}

.navLink:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}